.slide-in{
    display: flex;
    justify-content: center;
    align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #888;
  transform-origin: bottom;
  overflow: hidden;
  z-index: 10000;
}
.slide-out{
  display: flex;
  justify-content: center;
  align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #888;
    transform-origin: top;
    overflow: hidden;
    z-index: 10000;
}
.tex::before {
    content:"I&S";
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
  /*     border-right: 3px solid #ff7a00; */
    animation: text-fill 0.67s ease-in-out alternate infinite;
  }
  
  .tex{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    -webkit-text-stroke: 0px #000000;
    font-weight: 460;
    color: rgb(0, 0, 0);
    position: fixed;
    overflow: hidden;
  }
  
  
  
  @keyframes text-fill {
    0%{
      height: 0%;
  
    }
    100% {
      /* color: rgba(159, 242, 35, 0.897); */
        height: 100%;
      
    }
  }
  /* .slide-out::after{
   content: 'Sanyam';
    font-size: 20px;
    position: fixed;
  
  } */