.wro{
    height: fit-content;

    width: 100%;
  
  }
  .gray{
    background-color: #6f6f6f;
    color: #222222;
  }
  .vio{
    object-fit: cover;
    filter: invert(1);
  }
  .fle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  .box{
    background-color: rgb(0, 0, 0);
    position: sticky;
      margin-top: 25vh;
    height:fit-content;
    width: 100%;
    overflow-x: hidden;
    color: black;
    display: flex;
    flex-direction: column;
  
  }
  
  .word{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    opacity: 0.7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .expe{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height:fit-content;
    color: aliceblue;
    width: 100%;
    font-size: 50px;
  }
  
  .CV-page {
    max-width:80%;
    padding: 0 2em;
    color: #fffafaae;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }
  
  @media all and (max-width: 600px) {
    .CV-page {
      padding: 0 1em;
    }
    .work{
      font-size: 15vh;
    }
  
  }
  /* if IE<=7 */
  
  .CV-page\ {
    width: 1100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .CV-secondaryHeading {
    position: relative;
    margin: 2em 0 0;
    text-transform: uppercase;
  }
  /* Grid
  ****************************************************/
  
  .CV-grid {
    display: table;
  }
  
  .CV-grid-column {
    display: table-cell;
  }
  
  .CV-timeline {
    position: relative;
    margin: 0 0 0 0.5em;
    padding-left: 1.5em;
    border-left: solid 1px #222222;
  }
  
  .CV-timeline:first-of-type {
    margin-top: 1em;
  }
  
  .CV-timeline:last-of-type {
    border-left-color: transparent;
  }
  
  .CV-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    display: block;
    width: 1em;
    height: 1em;
    border: solid 1px #6f6f6f;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .CV-timeline-heading {
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
    font-weight: normal;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
  
  .CV-timeline-heading-title {
    line-height: 1;
    color: #c6dfeb;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .CV-timeline-heading-location {
    font-size: 0.9em;
  }
  
  .CV-timeline-heading-duration {
    display: block;
    font-size: 0.8em;
    color: #6f6f6f;
  }
  
  .CV-timeline-details {
    display: block;
    margin: 0;
    padding-bottom: 2em;
    padding: 0 0 2em 1em;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQIW2NkYGD4D8TIgJERTQDMpVAQAGaUAQbko3DsAAAAAElFTkSuQmCC");
  }
  
  .CV-timeline-details-item {
    margin-bottom: 0.5em;
  }